* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.app {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Montserrat", sans-serif;
}

.time-select,
.sound-picker {
  height: 81%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.time-select button {
  color: white;
  width: auto;
  height: auto;
  padding: 1.8% 3.9% 1.8% 3.9%;
  margin-left: 12%;
  background: none;
  font-size: 18px;
  border-radius: 5px;
  cursor: pointer;
  border: 2px solid white;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.sound-picker button {
  border: none;
  height: 102px;
  width: 102px;
  padding: 1.5%;
  margin-right: 12%;
  border-radius: 50%;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.sound-picker button:hover {
  scale: 108%;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.sound-picker button:nth-child(1) {
  background: #0c56ac;
}

.sound-picker button:nth-child(2) {
  background: #fc6a02;
}

.sound-picker button:nth-child(3) {
  background: #07173d;
}

.sound-picker button img {
  height: 45%;
}

.time-select button:hover {
  background: white;
  color: black;
  scale: 108%;
}

.player-container {
  position: relative;
  height: 75%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 1.5%;
  margin: 0, 15%, 0, 15%;
}

.player-container svg {
  position: absolute;
  height: 45%;
  top: 54%;
  left: 57%;
  -webkit-transform: translate(-58%, -90%) rotate(-90deg);
          transform: translate(-58%, -90%) rotate(-90deg);
  pointer-events: none;
  -webkit-box-shadow: black;
          box-shadow: black;
}

.player-container svg circle {
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.time-display {
  color: white;
  position: absolute;
  font-size: 50px;
  bottom: 10%;
}

video {
  position: fixed;
  top: 0%;
  left: 0%;
  height: 1080px;
  width: 1920px;
  -webkit-filter: blur(6px);
          filter: blur(6px);
  z-index: -10;
}

.replay:hover {
  scale: 120%;
  -webkit-transition: all 0.15s ease-in-out;
  transition: all 0.15s ease-in-out;
  cursor: pointer;
}

.logo h1 a {
  text-decoration: none;
  color: white;
}

.logo {
  color: white;
  margin: 0 0 0 6vh;
  letter-spacing: 0.21em;
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 15px;
}

.nav-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 12vh;
  font-family: "Poppins", sans-serif;
}

.nav-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 450px;
}

.nav-links ul li {
  display: inline;
  padding: 0 3vh;
  letter-spacing: 0.21em;
}

.nav-links ul li a {
  text-decoration: none;
  color: white;
  font-family: Poppins;
  font-style: normal;
  font-weight: 540;
}

.nav-links ul li a:hover {
  color: black;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.hamburger {
  position: absolute;
}

@media screen and (max-width: 1024px) {
  .nav-links a {
    width: 150px;
  }
}

@media screen and (max-width: 760px) {
  .hamburger {
    position: absolute;
    cursor: pointer;
    top: 4.5%;
    right: 3%;
    -webkit-transform: translate(-3%, -4.5%);
            transform: translate(-3%, -4.5%);
    z-index: 2;
  }
  .line {
    -webkit-transition: all .9s ease;
    transition: all .9s ease;
  }
  .hamburger.rotate .line:nth-child(2) {
    opacity: 0;
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
  }
  .hamburger.rotate .line:nth-child(1) {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    position: absolute;
    top: 9%;
  }
  .hamburger.rotate .line:nth-child(3) {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
    position: absolute;
    top: 3%;
  }
  .line {
    width: 30px;
    height: 3px;
    background: white;
    margin: 5px;
  }
  .nav-bar {
    background-color: black;
  }
  .nav-links {
    position: fixed;
    top: 0;
    height: 100vh;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.93);
    -webkit-clip-path: circle(100px at 90% -12%);
            clip-path: circle(100px at 90% -12%);
    -webkit-transition: all .75s ease-out;
    transition: all .75s ease-out;
    pointer-events: none;
    z-index: 1;
  }
  .nav-links ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 7.5rem;
  }
  .nav-links ul li {
    padding: 6rem;
  }
  .nav-links.open {
    -webkit-clip-path: circle(1200px at 90% -12%);
            clip-path: circle(1200px at 90% -12%);
    pointer-events: all;
  }
  .nav-links li {
    opacity: 0;
  }
  .nav-links li:nth-child(1) {
    -webkit-transition: all .6s ease .18s;
    transition: all .6s ease .18s;
  }
  .nav-links li:nth-child(2) {
    -webkit-transition: all .6s ease .38s;
    transition: all .6s ease .38s;
  }
  .nav-links li:nth-child(3) {
    -webkit-transition: all .6s ease .58s;
    transition: all .6s ease .58s;
  }
  li.fade {
    opacity: 1;
  }
  .nav-links ul li a:hover {
    color: #DBC077;
  }
  .player-container {
    position: relative;
    height: 45%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-flex: 2.1;
        -ms-flex: 2.1;
            flex: 2.1;
    padding: 0 0 18px 0;
    margin: 0, 18%, 0, 15%;
  }
  .player-container svg {
    position: absolute;
    height: 45%;
    top: 52%;
    left: 33%;
    -webkit-transform: translate(-41.5%, -93%) rotate(-90deg);
            transform: translate(-41.5%, -93%) rotate(-90deg);
    pointer-events: none;
  }
  .sound-picker button {
    border: none;
    height: 60px;
    width: 60px;
    padding: 1.5%;
    margin-right: 12%;
    border-radius: 50%;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }
  .time-select,
  .sound-picker {
    height: 45%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
  .time-select button {
    color: white;
    width: auto;
    height: auto;
    padding: 1.8% 3.9% 1.8% 3.9%;
    margin-left: 12%;
    background: none;
    font-size: 12px;
    border-radius: 6px;
    cursor: pointer;
    border: 2px solid white;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }
  .time-display {
    color: white;
    position: absolute;
    font-size: 30px;
    bottom: 10%;
  }
  .play {
    height: 60px;
  }
}
/*# sourceMappingURL=style.css.map */